.footer{
    background-color: $noir;
    padding: 2rem;
    position: relative;
    overflow: hidden;

    &-cards{
        display: flex;
        gap: 2rem;
        flex-wrap: nowrap;
        // margin: 0 4rem;
        z-index: 2;

        &-card{
            flex: 1;
            display: flex;
            gap: .5rem;
            color: $grise;

            &-hr{
                color: $jaune !important;
                width: 0;
                border-right: 1px solid $jaune;
                // height: calc(4.375rem - 2rem);

            }

            &-title{
                text-transform: uppercase;
                color: $blanc;
                font-weight: 400;
            }

            &-para{
                // color: $blanc;
                margin: 1rem 0;
                &-nom{
                    color: $blanc
                }
            }

            &-detail{
                // color: $blanc;
                font-size: 1rem;
                margin: 1rem 0;
            }
            &-links{
                display: flex;
                gap: 1rem;
                margin-top: 1rem;
                &-link{
                    // color: $grise;
                    // border: 2px solid $grise;
                    // padding: 8px 10px;
                    // border-radius: 50%;
                    // transform: color .7s;

                    color: $blanc; /* Couleur par défaut des icônes */
                    text-decoration: none;
                    font-size: 24px; /* Ajustez la taille des icônes si nécessaire */
                    display: inline-block; /* Pour permettre l'application des transformations */
                    transition: transform 0.3s ease; /* Animation fluide pour la transformation */

                }

                &-link:hover{
                    color: $blanc;
                    // border: 2px solid $jaune;
                    transform: translateY(-5px);
                    transition: .5s;
                }



            }

            &-links li:nth-child(1)  &-links-link:hover{

                // color: $blanc

                background-image: linear-gradient(to right, #1DA1F2, #FFFFFF); /* Dégradé de bleu à blanc */
                -webkit-background-clip: text; /* Pour que le dégradé apparaisse sur le texte */
                -moz-background-clip: text; /* Pour Firefox */
                background-clip: text; /* Pour les autres navigateurs */
                color: transparent; /* Rend la couleur du texte transparente pour voir le dégradé */
                transform: translateY(-10px); /* Déplace l'élément vers le haut */
            }
            &-links li:nth-child(2)  &-links-link:hover{
                color: #1DA1F2;

            }
            &-links li:nth-child(3)  &-links-link:hover{
                color: $vert;

            }
            &-links li:nth-child(4)  &-links-link:hover{
                color: rgb(0, 145, 255);

            }
        }



    }

    &-foot{
        color: $grise;
        text-align: center;
        margin-top: 2rem;

    }

    &-bgPhone{
        position: absolute;
        font-size: 3.5rem;
        transform: rotate(73deg);
        opacity: .1;
        z-index: 1;

        right: 5rem;
        top: 50%;
        color: $grise;
        animation: rotatePhone 2s infinite alternate;
    }

    &-circle{
        position: absolute;
        font-size: 3.5rem;
        /* transform: rotate(73deg); */
        opacity: 0.1;
        z-index: 1;
        left: 9%;
        bottom: 15%;
        color: #858796;
        animation: circle 9s infinite alternate;
    }
}
